[user]
	name = Yuyang Huang
	email = sigefriedhyy@gmail.com
[core]
	editor = nvim
	pager = delta
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
	dark = true
	side-by-side = true
	line-numbers = true
	line-numbers-left-format = "{nm:>4} "
	line-numbers-right-format = "{np:>4} "
	syntax-theme = none
	minus-style = syntax "#7a1a1a"
	minus-non-emph-style = syntax "#2a0505"
	minus-emph-style = syntax "#7a1a1a"
	plus-style = syntax "#1a4d1a"
	plus-non-emph-style = syntax "#052005"
	plus-emph-style = syntax "#1a4d1a"
	line-numbers-minus-style = "#d73a49"
	line-numbers-plus-style = "#28a745"
	line-numbers-zero-style = "#6a737d"
	zero-style = syntax
	hunk-header-style = file line-number syntax
	hunk-header-file-style = "#c678dd"
	hunk-header-line-number-style = "#e5c07b"
	hunk-header-decoration-style = "#6a737d" box
[merge]
	conflictStyle = zdiff3
[color]
	ui = true
[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
[push]
	default = simple
[credential]
	helper = store
[icdiff]
	options = --line-numbers
