[user]
	name = Yuyang Huang
	email = sigefriedhyy@gmail.com
[core]
	editor = nvim
	pager = delta
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
	dark = true
	side-by-side = true
	line-numbers = true
	syntax-theme = none
	minus-style = "#e06c75"
	minus-emph-style = bold "#e06c75" reverse
	plus-style = "#98c379"
	plus-emph-style = bold "#98c379" reverse
	line-numbers-minus-style = "#e06c75"
	line-numbers-plus-style = "#98c379"
	line-numbers-zero-style = "#5c6370"
	file-style = omit
	file-decoration-style = none
	hunk-header-style = file line-number
	hunk-header-file-style = "#61afef" bold
	hunk-header-line-number-style = "#e5c07b" bold
	hunk-header-decoration-style = "#61afef" box
[merge]
	conflictStyle = zdiff3
[color]
	ui = true
[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
[push]
	default = simple
[credential]
	helper = store
[icdiff]
	options = --line-numbers
