[user]
	name = Yuyang Huang
	email = sigefriedhyy@gmail.com
[core]
	editor = vim
[color]
	ui = true
[filter "media"]
	clean = git-media-clean %f
	smudge = git-media-smudge %f
[push]
	default = simple
[credential]
	helper = store
